:root {
  --brand--primary--color: #c5b4fb;
  --brand--secondary--color: #907ad6;
  --brand--secondary--color--rgb: 144, 122, 214;
  --brand--primary--color--rgb: 197, 180, 251;
  --brand--border--gray: #e5e5e5;
  --brand--gray2: #dadada;
  --brand--gray2--rgb: 218, 218, 218;

  --brand--white: #ffffff;
  --brand--sucess: #31d555;

  --opacity--30: 0.3;
  --opacity--50: 0.5;
  --opacity--60: 0.6;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo", sans-serif;
  font-weight: normal;
}
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; /* 모든 요소에 대해 패딩과 테두리를 포함하여 크기 계산 */
}
